.app-wrapper {
  position: relative;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #1a73e8;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.card {
  background-color: inherit !important;
  color: inherit !important;
}

.connect-wallet-btn {
  background-color: #1a73e8;
  border-color: #1a73e8;
  color: white;
}

.connect-wallet-btn:hover {
  background-color: #1558d6;
  border-color: #1558d6;
  color: white;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.toggle-dark-mode-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  color: inherit;
}

.toggle-dark-mode-btn:hover {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
